__pycache__
пример.xlsx
template.txt
parser/data/objects/
parser/data/*.db
parser/logs/*.log
parser/doc.md
uploads.sh
fil.py
testreq.py
testRedis.py
test_result_page.py
todo.md
test
__pycache__/
*.py[cod]
*$py.class
venv
.idea
